.Card__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 176px;
  margin: 40px;
}

.Card__photo-container {
  position: relative;
}

.Card__photo {
  width: 176px;
  border-radius: 9px;
  cursor: pointer;
}

.Card__rating-container {
  display: flex;
  gap: 5px;
}

.Card__cardPhoto {
  height: 12px;
}

.Card__font {
  font-weight: 300;
  font-size: 12px;
  line-height: 13px;
}

.Card__font-black {
  color: #222222;
}

.Card__font-grey {
  color: #918e9b;
}

.Card__price-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Card__bold {
  font-weight: 600;
}

.Card__photo-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 2px 4px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
}
